<% layout('layouts/boilerplate') %> 

    <h2>Edit <%=campground.title%></h2>
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="post">
        <div>
            <label >Title</label>
            <input type="text" id="title" name='campground[title]' value="<%=campground.title%>">
        </div>
        <div>
            <label>Price</label>
            <input type="text" id="price" name='campground[price]' value="<%=campground.price%>">
        </div>
        <div>
            <label>Description</label>
            <textarea id="desc" name="campground[description]" rows="10" cols="30" value="<%=campground.description%>"></textarea>
        </div>
       <div>
        <label>Location</label>
        <input type="text" id="loc" name='campground[location]' value="<%=campground.location%>">
       </div>
        
        <button>Submit</button>
    </form>
    <a href="/campgrounds/<%=campground._id%>">Back to Campround</a>

    <div class="row">
        <h1 class="text-center">Edit <%=campground.title%></h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="post">
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input class="form-control" type="text" id="title" name='campground[title]' value="<%=campground.title%>">
                </div>
                <div class="mb-3">
                    <label class="form-label">Location</label>
                    <input class="form-control" type="text" id="loc" name='campground[location]' value="<%=campground.location%>">
                   </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input class="form-control" type="text" id="price" name='campground[price]' placeholder="0.00">
                    </div>
                </div>
               <div class="mb-3">
                <label class="form-label">Image URL</label>
                <input class="form-control" type="text" id="image" name='campground[image]'>
               </div>
               <div class="mb-3">
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" id="desc" name="campground[description]" rows="10" cols="30"></textarea>
                </div>
                <button class="btn btn-success">Submit</button>
               </div>
            </form>
        </div>
    </div>
       
    